    .img-container{
        position: relative ;
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background: #041C32;
            
            }
            


        }

        